# ---------------------------------------------------------------------------
# PostgreSQL secret
# Ref in :
#   kubernetes/ressources/backend/deployment.yaml
#   kubernetes/ressources/postgres/statefulset.yaml
#
#   source .env
#   kubectl create secret generic postgres-secret \
#     --namespace game-system \
#     --from-literal=POSTGRES_PASSWORD="$POSTGRES_PASSWORD"
# ---------------------------------------------------------------------------
POSTGRES_PASSWORD=

# ---------------------------------------------------------------------------
# Grafana --set grafana.adminPassword in scripts/deploy.sh
# ---------------------------------------------------------------------------
GRAFANA_PASSWORD=
